* {
    background: rgba(48, 50, 26, 0.7);
    primary: #c4cd7b;
    primary-fixed: #e0e994;
    primary-fixed-dim: #c4cd7b;
    on-primary: #2e3300;
    on-primary-fixed: #1a1e00;
    on-primary-fixed-variant: #444b05;
    primary-container: #444b05;
    on-primary-container: #e0e994;
    secondary: #c7c9a7;
    secondary-fixed: #e3e5c1;
    secondary-fixed-dim: #c7c9a7;
    on-secondary: #30321a;
    on-secondary-fixed: #1b1d07;
    on-secondary-fixed-variant: #46492e;
    secondary-container: #46492e;
    on-secondary-container: #e3e5c1;
    tertiary: #a2d0c1;
    tertiary-fixed: #beecdd;
    tertiary-fixed-dim: #a2d0c1;
    on-tertiary: #07372d;
    on-tertiary-fixed: #002019;
    on-tertiary-fixed-variant: #234e43;
    tertiary-container: #234e43;
    on-tertiary-container: #beecdd;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #13140d;
    on-surface: #e5e3d6;
    on-surface-variant: #c8c7b7;
    outline: #929282;
    outline-variant: #47483b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e5e3d6;
    inverse-on-surface: #313128;
    inverse-primary: #5b631d;
    surface-dim: #13140d;
    surface-bright: #393a31;
    surface-container-lowest: #0e0f08;
    surface-container-low: #1c1c14;
    surface-container: #202018;
    surface-container-high: #2a2b22;
    surface-container-highest: #35352d;
}
